.banner {
  color: white;
  object-fit: contain;
  height: 500px;

  .banner__contents {
    margin-left: 30px;
    padding-top: 150px;
    height: 200px;
  }

  .banner__title {
    font-size: 3rem;
    font-weight: 800px;
    padding-bottom: 0.3rem;
  }

  .banner__description {
    width: 45rem;
    line-height: 1.3;
  }
}
