.banner {
  color: white;
  object-fit: contain;
  height: 500px;

  .banner__contents {
    margin-left: 30px;
    padding-top: 150px;
    height: 200px;
  }

  .banner__title {
    font-size: 3rem;
    font-weight: 800px;
    padding-bottom: 0.3rem;
  }

  .banner__description {
    width: 45rem;
    line-height: 1.3;
    font-size: 1.2rem;
    max-width: 360px;
    height: 80px;
  }

  .banner__button {
    margin: 0 5px;
    background-color: #D90C14;

    &:hover {
      background-color: #b92025;
    }
  }
}
