.navbar__header {
  background-color: transparent;
  // display: flex;
  display: grid;
  grid-template-areas: "left center right";
  align-items: center;
  list-style-type: none;
  color: inherit;

  .navbar__logo {
    height: auto;
    width: 100px;
    margin: 10px;
  }

  .navbar__primary a {
    color: inherit;
    text-decoration: none;
    justify-content: flex-start;
    margin-left: 20px;
    grid-area: left;

    &:hover {
      color: rgb(228, 226, 226);
    }
  }

  .navbar__secondary {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 30px;
  }
}
