.row {
  margin-left: 20px;
  background-color: transparent;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;

  &::-webkit-scrollbar {
    // Never display the scrollbar on any webBrowser
    display: none;
  }

  .row__poster {
    object-fit: contain;
    margin-right: 10px;
    width: 100%;
    max-height: 10rem;
    transition: transform 450ms;
    box-shadow: -3px 8px 5px -2px rgba(56, 54, 54, 0.212);

    &:hover {
      transform: scale(1.08);
      opacity: 1;
    }
  }
  .row__posterLarge {
    max-height: 23rem;
    &:hover {
      transform: scale(1.09);
    }
  }
}
