.row {
  margin-left: 20px;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;

  &::-webkit-scrollbar {
    // Never display the scrollbar on any webBrowser
    display: none;
  }

  .row__poster {
    object-fit: contain;
    margin-right: 10px;
    width: 100%;
    height: 150px;
    transition: transform 450ms;
    &:hover {
      transform: scale(1.1);
    }
  }
  .row__posterLarge {
    height: 350px;
    &:hover {
      transform: scale(1.2);
    }
  }
}
